:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    padding: 50px 140px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
}

button {
    height: 60px;
    background-color: #94a2cf;
    border: 1px solid #0000009a;
    width: min-content;
    padding-inline: 22px;
}

.form-row {
    display: flex;
    width: 100%;
    padding: 18px 0;
}

mat-form-field {
    margin-inline: 16px;
    width: 100%;
}